if prod
	script(src=`${paths.jsOutput}/app.min.js?v=${version}`)
else
	script(src=`${paths.jsJquery}/jquery-3.7.1.min.js?v=${version}`)
	script(src=`${paths.jsLibs}/swiper-bundle.min.js?v=${version}`)
	script(src=`${paths.jsLibs}/select2.min.js?v=${version}`)
	script(src=`${paths.jsLibs}/lazyload.min.js?v=${version}`)
	script(src=`${paths.jsLibs}/tooltip/popper.min.js?v=${version}`)
	script(src=`${paths.jsLibs}/tooltip/tippy-bundle.umd.min.js?v=${version}`)
	script(src=`${paths.jsLibs}/moment.min.js?v=${version}`)
	script(src=`${paths.jsLibs}/daterangepicker.js?v=${version}`)
	script(src=`${paths.jsLibs}/hammer.js?v=${version}`)
	script(src=`${paths.jsLibs}/svg-pan-zoom.min.js?v=${version}`)

	script(src=`https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.35/fullpage.min.js`)
	script(src=`https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/4.0.35/vendors/easings.min.js`)

	script(src=`${paths.jsOutput}/default.js?v=${version}`)

