doctype html
html(lang=lang dir=lang=="en" ? 'ltr' : 'rtl')
	head
		include layout_partials/head.pug
	//- body(class=lang + ' ' + pageClass)
	body(class=`${lang} ${pageClass} ${headerInverse ? 'header-inverse' : ''}`)
		include header/header.pug
		main
			block content
		//- include ../includes/components/_model-overlay.pug
		include footer/footer.pug
		include layout_partials/scripts.pug
		block pageScripts
